p {
    color:red;
    border: 4px dashed black;
    border-color: red;
    border-left: 8px dotted violet;
    border-radius: 10px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 100;
    
}
#para1 {
    color:green;
}
.colortext {
color:aqua;
}

body {
    background-color: yellow;
    background-image: url(assets/background.avif);
    background-repeat: repeat-y;
    background-repeat: no-repeat; 
    background-position: right top;
    background-attachment: fixed;
}
h1 {
    background-color: brown;
    margin:30px; 
    margin-top: 30px;
    text-align: center;
    padding: 40px 10px;
    height: 100px;
    width: 50%;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* шрифт текста */
    font-style: italic; /* Стиль текста*/
    font-size: 50px;
    /*visibility:hidden; Место на странице остается  */
    /*display: none; Теперь место вообще нету для этого текста */
    position: absolute;
    top: 50px;
    z-index: -1; /* На задний план*/
}

.intro{
    margin-left: 20px;
    overflow: hidden;
    height: 100px;
    width: 100px;

}

.text {
    width: 200px;
    border: 2px solid green;
    padding: 25px;
    margin-left: 25px;
    outline: 5px solid black; /*зрительно аутлайн идет после бордера(внутри) */
}

a {
    text-decoration: none; /* Убирает подчеркивание */
    color:red;
    
}

a:hover {
    color:black;
    text-decoration: underline;
}

a:visited {
    color:green;
}

.intro {
    margin-left: 20px;
}

ul{
    list-style: square;
    /* list-style: url(assets/klematis.jpg); */
    list-style: none;
}

ol {
    list-style:upper-roman;
}

table,th,td{
    border: 2px solid green;
    border-collapse: collapse;
}

td{
    text-align: right;
}

th{
    padding-left: 15px;
    background-color: aquamarine;
}

li{
    display: inline;
}

strong{
    display: block;
}

div p{
    color:burlywood;
}

 div +p{ /*23.	Измените цвет первого элемента <p>, который находится непосредственно после элемента <div>, на другой. */
    color:chartreuse;
}

input:focus{
    background-color:red;
}

#para1 {
    color:green;
}

p::first-line{
    background-color: aquamarine;
}

p::first-letter{
    background-color:black ;
}

img{
    opacity: 0.5;
}

img:hover{
    opacity: 1;
}

